# Release {{version.name}}
({{moment version.startDate format='D-MMM'}} to {{#if version.released}}{{moment version.releaseDate format='D-MMM-YYYY'}}{{else}}present{{/if}}{{#if version.released}}, {{duration duration humanize=null}}{{/if}})

{{#if version.description}}
{{version.description}}
{{/if}}
{{#each issuesByType}}

## {{issuetype}}
{{#each issues}}
  * [{{key}}]({{../../config.url}}/browse/{{key}}) - {{fields.summary}}
{{/each}}
{{/each}}

{{#if attachments}}
<table cellpadding="2" cellspacing="2">
  <tr>
    {{#each attachments}}
    <td><img src="{{thumbnail}}" height="200" border="1"/></td>
    {{/each}}
  </tr>
</table>
{{/if}}